body {
  margin: 0px;
  background-color: rgb(223, 223, 223);
}

#username {
  position: relative;
  top: 10vh;
  left: 63vw;
  width: 37vw;
  font-size: 4vw;
  color: rgb(182, 182, 182);
  font-family: "Courier New", Courier, monospace;
  border: 0px solid black;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

#divSaldoEmConta {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  top: 20vh;
  height: 8vh;
  font-size: 6vw;
  background-color: rgb(172, 172, 172);
}

#divButtonDepositoRetirada {
  position: relative;
  top: 25vh;
  border: 0px solid black;
  text-align: center;
}

#buttonDepósito {
  color: white;
  font-size: 4vw;
  background-color: rgb(101, 101, 255);
  border-radius: 0.9vw;
  width: 18vw;
  height: 4vh;
}

#buttonRetirada {
  color: white;
  font-size: 4vw;
  background-color: green;
  border-radius: 0.9vw;
  width: 18vw;
  height: 4vh;
}

#inputInformeValor {
  position: relative;
  left: 20vw;
  top: 31vh;
  width: 60vw;
  height: 3vh;
  font-size: 4vw;
}

#divButtonVoltarConfirmar {
  position: relative;
  top: 38vh;
  text-align: center;
}

#buttonVoltar {
  color: white;
  font-size: 4vw;
  background-color:black;
  border-radius: 0.9vw;
  width: 18vw;
  height: 4vh;
}

#buttonConfirmar {
  color: white;
  font-size: 4vw;
  background-color:black;
  border-radius: 0.9vw;
  width: 19vw;
  height: 4vh;
}
